<html>
    <head>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     </head>
    <body style="background-color:rgb(134, 41, 41);"></body>
    <h1>User History</h1>
    <ul class="collection with-header">
        <li class="collection-header"><h4>First Names</h4></li>
        <li class="collection-item">
        <li class = "gameID">
          {{#each gameID}}
            <li>{{this.gameID}}</li>
          {{/each}}
        </li>
        </li>
      </ul>
      
      </body>
      
</html>
